body {
    background-color: rgba(86, 95, 109, 0.801);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

span {
    padding-left: 500px;
}

#dollar {
    display:flex;
    overflow:hidden;
    position:absolute;
    margin-right:200px;
}